<ul class="home-favorites-preview__list" role="list">
  <li
    class="home-favorites-preview__item"
    *ngFor="let item of favorites; trackBy: trackByFavoriteId"
  >
    <ng-container [ngSwitch]="item.kind">
      <app-interactive-card
        *ngSwitchCase="'stop'"
        class="home-favorites-preview__card"
        [bodyClasses]="cardBodyClasses"
        [primaryCommands]="stopDetailCommands(item.favorite)"
        [primaryQueryParams]="stopDetailQueryParams(item.favorite)"
      >
        <div class="home-favorites-preview__content">
          <div class="home-favorites-preview__header">
            <span class="home-favorites-preview__name">{{ item.favorite.name }}</span>
            <span class="home-favorites-preview__arrow" aria-hidden="true">→</span>
            <span class="home-favorites-preview__location">{{ item.favorite.municipality }}</span>
          </div>
          <div class="home-favorites-preview__details">
            <span class="home-favorites-preview__chip">
              <span class="home-favorites-preview__chip-label">{{ codeLabel }}</span>
              <span class="home-favorites-preview__chip-value">{{ item.favorite.code }}</span>
            </span>
            <span *ngIf="item.favorite.nucleus" class="home-favorites-preview__chip">
              <span class="home-favorites-preview__chip-label">{{ nucleusLabel }}</span>
              <span class="home-favorites-preview__chip-value">{{ item.favorite.nucleus }}</span>
            </span>
          </div>
        </div>
      </app-interactive-card>

      <app-interactive-card
        *ngSwitchCase="'line'"
        class="home-favorites-preview__card"
        [bodyClasses]="cardBodyClasses"
        [primaryCommands]="lineDetailCommands(item.favorite)"
      >
        <div class="home-favorites-preview__content">
          <div class="home-favorites-preview__header">
            <span class="home-favorites-preview__name">{{ item.favorite.name }}</span>
            <span class="home-favorites-preview__arrow" aria-hidden="true">→</span>
            <span class="home-favorites-preview__location">{{ item.favorite.code }}</span>
          </div>
          <div *ngIf="item.favorite.mode" class="home-favorites-preview__details">
            <span class="home-favorites-preview__chip">
              <span class="home-favorites-preview__chip-value">{{ item.favorite.mode }}</span>
            </span>
          </div>
        </div>
      </app-interactive-card>
    </ng-container>
  </li>
</ul>
