<div class="app-shell__skip">
  <a
    appAccessibleButton
    class="app-shell__skip-button"
    [attr.aria-label]="skipLinkLabelKey | translate"
    [attr.href]="mainContentFragment"
    (appAccessibleButtonActivated)="focusMainContent()"
  >
    {{ skipLinkLabelKey | translate }}
  </a>
</div>
<app-app-shell-top-actions></app-app-shell-top-actions>
<app-storage-notice></app-storage-notice>
<section
  class="app-shell__section app-layout__surface"
  [attr.id]="mainContentId"
  [attr.role]="mainContentRole"
  tabindex="-1"
  #mainContent
>
  <router-outlet></router-outlet>
  <app-legal-footer></app-legal-footer>
</section>
