<div class="home-recent">
  <div class="home-recent__actions" *ngIf="hasItems()">
    <button type="button" class="home-recent__clear" (click)="clearAll()">
      {{ clearAllActionKey | translate }}
    </button>
  </div>
  <p class="home-recent__empty" *ngIf="!hasItems()">
    {{ emptyKey | translate }}
  </p>
  <ul class="home-recent__list" *ngIf="hasItems()">
    <li class="home-recent__item" *ngFor="let item of items(); trackBy: trackById">
      <app-recent-search-card
        [iconName]="iconName"
        [originName]="item.originName"
        [destinationName]="item.destinationName"
        [searchDate]="item.effectiveQueryDate"
        [showTodayNotice]="item.showTodayNotice"
        [searchDateKey]="searchDateKey"
        [searchDateTodayKey]="searchDateTodayKey"
        [loadingKey]="loadingKey"
        [errorKey]="errorKey"
        [noPreviewKey]="noPreviewKey"
        [previewDisabledKey]="previewDisabledKey"
        [removeActionKey]="removeActionKey"
        [preview]="item.preview"
        (open)="open(item)"
        (remove)="remove(item)"
      ></app-recent-search-card>
    </li>
  </ul>
</div>
