<div
  class="app-text-field"
  [class.app-text-field--focused]="isFocused"
  [class.app-text-field--disabled]="isDisabled"
  [class.app-text-field--invalid]="invalid"
>
  <label class="app-text-field__label" [attr.for]="inputId">
    <ng-container>{{ label }}</ng-container>
  </label>
  <div class="app-text-field__control">
    <span class="app-text-field__prefix" *ngIf="hasPrefix">
      <ng-content select="[appTextFieldPrefix]"></ng-content>
    </span>
    <input
      #nativeInput
      class="app-text-field__input"
      [id]="inputId"
      [attr.name]="name"
      [attr.type]="type"
      [attr.autocomplete]="autocomplete"
      [attr.placeholder]="placeholder"
      [attr.readonly]="readonly ? '' : null"
      [attr.aria-describedby]="ariaDescribedByAttribute"
      [attr.aria-invalid]="ariaInvalidAttribute"
      [attr.aria-required]="ariaRequiredAttribute"
      [attr.required]="requiredAttribute"
      [disabled]="isDisabled"
      [value]="value"
      (focus)="handleFocus()"
      (blur)="handleBlur()"
      (input)="handleInput($event)"
      (keydown)="handleKeydown($event)"
    />
    <span class="app-text-field__suffix" *ngIf="hasSuffix">
      <ng-content select="[appTextFieldSuffix]"></ng-content>
    </span>
  </div>
  <div class="app-text-field__hint" *ngIf="hasHint" [id]="hintId">
    <ng-content select="[appTextFieldHint]"></ng-content>
  </div>
</div>
