<app-dialog-layout [titleKey]="data.titleKey">
  <div appDialogBody class="confirm-dialog__body">
    <p class="confirm-dialog__message">{{ data.messageKey | translate }}</p>
    <ul *ngIf="data.details?.length" class="confirm-dialog__details" role="list">
      <li *ngFor="let detail of data.details" class="confirm-dialog__detail">
        <span class="confirm-dialog__detail-label">{{ detail.labelKey | translate }}</span>
        <span class="confirm-dialog__detail-value">{{ detail.value }}</span>
      </li>
    </ul>
  </div>
  <div appDialogActions class="confirm-dialog__actions">
    <button
      type="button"
      class="app-button app-button--ghost app-button--block-mobile"
      (click)="cancel()"
    >
      {{ data.cancelKey | translate }}
    </button>
    <button
      type="button"
      class="app-button app-button--primary app-button--block-mobile"
      (click)="confirm()"
    >
      {{ data.confirmKey | translate }}
    </button>
  </div>
</app-dialog-layout>
