<app-dialog-layout [titleKey]="titleKey" [descriptionKey]="descriptionKey">
  <div
    appDialogBody
    class="nearby-dialog__body"
    [attr.aria-busy]="isLoading ? 'true' : 'false'"
  >
    <div *ngIf="isLoading" class="nearby-dialog__loading">
      <span class="nearby-dialog__spinner" aria-hidden="true"></span>
      <p class="nearby-dialog__loading-text">{{ loadingKey | translate }}</p>
    </div>
    <ul *ngIf="state === 'success' && stops.length" class="nearby-dialog__list">
      <li *ngFor="let stop of stops" class="nearby-dialog__item">
        <div
          appAccessibleButton
          class="app-list-button nearby-dialog__item-button"
          (appAccessibleButtonActivated)="selectStop(stop)"
        >
          <span class="material-symbols-outlined nearby-dialog__item-icon">{{ stopIcon }}</span>
          <div class="nearby-dialog__item-body">
            <p class="nearby-dialog__item-title">{{ stop.title }}</p>
            <p class="nearby-dialog__item-distance">
              {{ stop.distanceKey | translate: { value: stop.distanceValue } }}
            </p>
          </div>
        </div>
      </li>
    </ul>
    <p *ngIf="state === 'success' && !stops.length" class="nearby-dialog__message">
      {{ emptyKey | translate }}
    </p>
    <p *ngIf="state === 'permissionDenied'" class="nearby-dialog__message nearby-dialog__message--error">
      {{ permissionDeniedKey | translate }}
    </p>
    <p *ngIf="state === 'notSupported'" class="nearby-dialog__message nearby-dialog__message--error">
      {{ notSupportedKey | translate }}
    </p>
    <p *ngIf="state === 'unknown'" class="nearby-dialog__message nearby-dialog__message--error">
      {{ unknownErrorKey | translate }}
    </p>
  </div>
  <div appDialogActions>
    <div
      *ngIf="!isLoading && state !== 'success'"
      appAccessibleButton
      class="app-button app-button--ghost app-button--block-mobile"
      (appAccessibleButtonActivated)="retry()"
    >
      {{ retryKey | translate }}
    </div>
    <div
      appAccessibleButton
      class="app-button app-button--primary app-button--block-mobile"
      (appAccessibleButtonActivated)="close()"
    >
      {{ closeKey | translate }}
    </div>
  </div>
</app-dialog-layout>
