<div
  class="favorites"
  appLayoutContent
  [appLayoutContentNavigationKey]="layoutNavigationKey"
>
  <app-section [titleKey]="titleKey">
    <div class="favorites__header">
      <p class="favorites__description">{{ descriptionKey | translate }}</p>
      <div class="favorites__controls">
        <label class="favorites__search">
          <span class="favorites__search-label">{{ searchLabelKey | translate }}</span>
          <input
            type="search"
            class="favorites__search-input"
            [formControl]="searchControl"
            [placeholder]="searchPlaceholderKey | translate"
          />
        </label>
        <div
          appAccessibleButton
          class="app-outline-button favorites__clear"
          [appAccessibleButtonDisabled]="!hasFavorites()"
          [class.is-disabled]="!hasFavorites()"
          (appAccessibleButtonActivated)="onClearAllActivated()"
        >
          <span class="material-symbols-outlined favorites__clear-icon">{{ removeIcon() }}</span>
          {{ clearAllLabelKey | translate }}
        </div>
      </div>
    </div>
  </app-section>

  <div *ngIf="!hasResults()" class="favorites__empty">
    <p class="favorites__empty-message">{{ emptyKey | translate }}</p>
  </div>

  <div *ngIf="hasResults()" class="favorites__groups">
    <section class="favorites__group" *ngFor="let group of groups(); trackBy: trackGroup">
      <h3 class="favorites__group-title">{{ group.municipality }}</h3>
      <ul class="favorites__list" role="list">
        <li class="favorites__item" *ngFor="let stop of group.stops; trackBy: trackStop">
          <div
            appAccessibleButton
            class="favorites__item-main"
            (appAccessibleButtonActivated)="openStop(stop)"
          >
            <span class="material-symbols-outlined favorites__item-icon">{{ favoriteIcon() }}</span>
            <span class="favorites__item-text">
              <span class="favorites__item-name">{{ stop.name }}</span>
              <span class="favorites__item-meta">
                {{ codeLabelKey | translate }}: {{ stop.code }} ·
                {{ nucleusLabelKey | translate }}: {{ stop.nucleus }}
              </span>
            </span>
          </div>
          <div
            appAccessibleButton
            class="app-solid-button favorites__remove"
            (appAccessibleButtonActivated)="onRemoveActivated($event, stop)"
          >
            <span class="material-symbols-outlined favorites__remove-icon">{{ removeIcon() }}</span>
            {{ removeLabelKey | translate }}
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
