<div class="favorites" appLayoutContent [appLayoutContentNavigationKey]="layoutNavigationKey">
  <app-section [titleKey]="titleKey">
    <div class="favorites__header">
      <p class="favorites__description">{{ descriptionKey | translate }}</p>
      <div class="favorites__controls">
        <div class="favorites__search">
          <app-text-field
            class="favorites__search-field"
            [label]="searchLabelKey | translate"
            [placeholder]="searchPlaceholderKey | translate"
            [type]="searchFieldType"
            [autocomplete]="searchAutocompleteAttribute"
            [formControl]="searchControl"
          ></app-text-field>
        </div>
        <div
          appAccessibleButton
          class="app-outline-button app-outline-button--compact favorites__clear"
          [appAccessibleButtonDisabled]="!hasFavorites()"
          [class.is-disabled]="!hasFavorites()"
          (appAccessibleButtonActivated)="onClearAllActivated()"
        >
          <span class="material-symbols-outlined favorites__clear-icon">{{ removeIcon() }}</span>
          {{ clearAllLabelKey | translate }}
        </div>
      </div>
    </div>
  </app-section>

  <div *ngIf="!hasResults()" class="favorites__empty">
    <p class="favorites__empty-message">{{ emptyKey | translate }}</p>
  </div>

  <div *ngIf="hasResults()" class="favorites__groups">
    <section class="favorites__group" *ngFor="let group of groups(); trackBy: trackGroup">
      <h3 class="favorites__group-title">{{ group.municipality }}</h3>
      <ul class="favorites__list" role="list">
        <li class="favorites__item" *ngFor="let stop of group.stops; trackBy: trackStop">
          <app-interactive-card
            [ngClass]="favoritesCardHostClasses"
            [bodyClasses]="favoritesCardBodyClasses"
            [removeClasses]="favoritesCardRemoveClasses"
            [removeIconName]="removeIcon()"
            [removeAriaLabel]="removeLabelKey | translate"
            [primaryCommands]="stopDetailCommands(stop)"
            (removeActivated)="onRemoveActivated(stop)"
          >
            <div class="favorites-card__content">
              <span class="material-symbols-outlined favorites-card__icon" aria-hidden="true">
                {{ favoriteIcon() }}
              </span>
              <span class="favorites-card__text">
                <span class="favorites-card__name">{{ stop.name }}</span>
                <span class="favorites-card__meta">
                  <span class="favorites-card__chip">
                    <span class="favorites-card__chip-label">{{ codeLabelKey | translate }}</span>
                    <span class="favorites-card__chip-value">{{ stop.code }}</span>
                  </span>
                  <span class="favorites-card__chip">
                    <span class="favorites-card__chip-label">{{ nucleusLabelKey | translate }}</span>
                    <span class="favorites-card__chip-value">{{ stop.nucleus }}</span>
                  </span>
                </span>
              </span>
            </div>
          </app-interactive-card>
        </li>
      </ul>
    </section>
  </div>
</div>
