<div
  appAccessibleButton
  class="interactive-card__body"
  [ngClass]="bodyClasses"
  [appAccessibleButtonRole]="computedPrimaryRole"
  [routerLink]="computedPrimaryCommands"
  [attr.aria-label]="primaryAriaLabel"
  (appAccessibleButtonActivated)="handlePrimaryActivated()"
>
  <ng-content></ng-content>
</div>
<div
  *ngIf="removeAriaLabel"
  appAccessibleButton
  class="interactive-card__remove"
  [ngClass]="removeClasses"
  [attr.aria-label]="removeAriaLabel"
  (appAccessibleButtonActivated)="handleRemoveActivated($event)"
>
  <span class="interactive-card__remove-icon" [ngClass]="removeIconClass">{{ removeIconName }}</span>
</div>
