<div class="toast-stack" role="region" aria-label="{{ 'layout.toast.regionLabel' | translate }}">
  <article
    *ngFor="let toast of toasts(); trackBy: trackById"
    class="toast"
    role="status"
  >
    <span class="material-symbols-outlined toast__icon" aria-hidden="true">{{
      toast.icon
    }}</span>
    <div class="toast__content">
      <p class="toast__title">{{ toast.titleKey | translate: toast.titleParams }}</p>
      <p *ngIf="toast.bodyKey" class="toast__body">
        {{ toast.bodyKey | translate: toast.bodyParams }}
      </p>
    </div>
    <button
      *ngIf="toast.action"
      type="button"
      class="toast__action"
      (click)="runAction(toast)"
    >
      {{ toast.action?.labelKey | translate: toast.action?.params }}
    </button>
    <button
      type="button"
      class="toast__close"
      [attr.aria-label]="'layout.toast.dismiss' | translate"
      (click)="dismiss(toast.id)"
    >
      <span class="material-symbols-outlined" aria-hidden="true">close</span>
    </button>
  </article>
</div>
