<ng-template #content>
  <div *ngIf="leadingIcon" class="card-list-item__leading" [ngClass]="leadingClassMap">
    <span class="material-symbols-outlined">{{ leadingIcon }}</span>
  </div>
  <div class="card-list-item__body">
    <p class="card-list-item__title">{{ titleKey | translate }}</p>
    <p *ngIf="subtitleKey" class="card-list-item__subtitle">{{ subtitleKey | translate }}</p>
  </div>
  <span *ngIf="trailingIcon" class="material-symbols-outlined card-list-item__trailing">
    {{ trailingIcon }}
  </span>
</ng-template>

<ng-container *ngIf="commands?.length; else buttonOnly">
  <button
    type="button"
    class="card-list-item"
    [ngClass]="hostClassMap"
    [routerLink]="commands"
    [attr.aria-label]="ariaLabelKey ? (ariaLabelKey | translate) : null"
    (click)="handleClick()"
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </button>
</ng-container>

<ng-template #buttonOnly>
  <button
    type="button"
    class="card-list-item"
    [ngClass]="hostClassMap"
    [attr.aria-label]="ariaLabelKey ? (ariaLabelKey | translate) : null"
    (click)="handleClick()"
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </button>
</ng-template>
